<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
  </div>
</header>

<div class = "container">
	<h2>Add Income</h2>
<div class="form col-sm-3">
	<form class="income_form" name="addIncome">	
    <label>Category</label>
    <select class="form-control income_category" ng-model="income.category">
    	<option value="salary">Salary</option>
		<option value="business">Business</option>
		<option value="interest">Interest on Deposit</option>
    </select>
    <label for="exampleInputEmail1">Payer:</label>
    <input class="form-control income_payer" name = "payer" ng-model="income.payer"></input>
    <span style="color:red" ng-show="addIncome.payer.$touched && addIncome.payer.$invalid">{{addIncome.payer.$invalid}}The name is required and should be min 3 char.</span>
    <label>Amount:</label>    
    <input class="form-control income_amount" type="number" ng-model="income.amount"></input>
    <label>Mode Of Payment</label>
    	<input class="form-control income_mode" type="text" ng-model="income.modeOfPay"></input>
	<label>Date</label>   
		<input placeholder = "dd-mm-yyyy" class="form-control date-picker ng-pristine" type="text" ng-model="income.date"/>
    <label>Description:</label>
    <textarea rows="4" cols="5" class="form-control income_desc" type="text" ng-model="income.description"></textarea>
    <button class="btn" ng-click="fnaddIncome();">Submit</button>
</form>
</div>
<div class="dataTable col-sm-9">
	<h2>Income Details</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Income_Id</th>
				<th>Income Category</th>
				<th>Income Payer</th>
				<th>Income Amount</th>
				<th>Mode Of Payment</th>
				<th>Date</th>
				<th>Income Description</th>
				<th></th>
			</tr>
		</thead>
	<tr ng-repeat="data in income.incomeData">
		<td>{{data.id}}</td>
		<td>{{data.cat}}</td>
		<td>{{data.pay}}</td>
		<td>{{data.amt}}</td>
		<td>{{data.modeofpay}}</td>
		<td>{{data.date}}</td>
		<td>{{data.desc}}</td>
		<td>
            <a href="" ng-click="" title="Edit"><span class="glyphicon glyphicon-edit"></span>Edit</a>
            |
            <a href="" ng-click="deleteIncome($index);" title="Delete"><span
                    class="glyphicon glyphicon-trash"></span>Delete</a>
        </td>
	</tr>
</table>

</div>
</div>
<footer></footer>
